#container{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 80% 20%;
    grid-template-areas:
         "menu main"
         "menu back";
}
 
nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

.sub-title{
    width: 100%;
}

#preparar-refeicao-container{
    margin: 0 4vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(1, auto);
    grid-template-areas: 
        "preparar-label preparar";
}

button{
    font-size: .5em;
}

button:active{
    border-style: inset;
}

#preparar-btn{
    width: 100%;
    text-align: end;
}

#prato-label{
    grid-area: preparar-label;
}

#preparar-btn{
    grid-area: preparar;
}

button{
    background-color: inherit;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 6vw;
}

.grid-item{
    padding: 1.5vw 0;
}