#container{
    display: grid;
    grid-template-columns: 15% auto 15% ;
    grid-template-rows: 90% auto;
    grid-template-areas:
         "menu main signs"
         "menu back signs";
}
 
nav{
    grid-area: menu;
}

#signs{
    grid-area: signs;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main{
    grid-area: main;
}

input {
    font-size: 1em;
}

button:active{
    border-style: inset;
}

input[type="time"]{
    height: 0.87em;
    font-size: 0.8em;
}

#balcony-container{
    display: grid;
    font-size: 0.7em;
    grid-template-rows: repeat(7,15%);
    grid-template-columns: auto auto;
    grid-template-areas: 
        "day1 day1-in"
        "day2 day2-in"
        "day3 day3-in"
        "day4 day4-in"
        "day5 day5-in"
        "day6 day6-in"
        "day7 day7-in";
   
    justify-content: center;
    line-height: 6em;
}

#balcony-container > div, #balcony-container > input{
    height: 1vw;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

input[type="checkbox"]{
    vertical-align: middle;
}

main > div{
    text-align: center;
}

#day1{
    grid-area: day1;
}
#day2{
    grid-area: day2;
}
#day3{
    grid-area: day3;
}
#day4{
    grid-area: day4;
}
#day5{
    grid-area: day5;
}
#day6{
    grid-area: day6;
}
#day7{
    grid-area: day7;
}

input[type= checkbox]{
    position: relative;
    bottom: 0.4vw;
}

#day1-in{
    grid-area: day1-in;
}
#day2-in{
    grid-area: day2-in;
}
#day3-in{
    grid-area: day3-in;
}
#day4-in{
    grid-area: day4-in;
}
#day5-in{
    grid-area: day5-in;
}
#day6-in{
    grid-area: day6-in;
}
#day7-in{
    grid-area: day7-in;
}