
#container{
    color: black;
    background: linear-gradient(to right, #8CA6DB, #B993D6);
    font-size: 2vw;
    font-family: sans-serif;
    max-height: inherit;
}

nav{
    border-right: 1px solid white;
}

#signs{
    font-size: 1.5vw;
    line-height: 1.5em;
    text-align: center; 
}

h1{
    text-align: center;
}

.sub-title{
    text-align: center;
    font-size: 1.3em;
    width: 100%;
}

#list a{
    text-decoration: none;
}

#list{
    list-style: none;
    line-height: 2em;
    padding-left: 0px;
}

#list li{
    cursor: pointer;
    margin-bottom: 10px;
    font-size: 0.75em;
}

.button {
    color: black;
    background-image: linear-gradient(to right, #B993D6 0%, #8CA6DB  51%, #B993D6  100%);
    margin: 10px;
    text-align: center;
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 15px #eee;
    border-radius: 10px;
 }

 .button:hover, .button:hover div{
   background-position: right center;
   color: white;
   text-decoration: none;
 }

.button a{
    text-decoration: none;
}

.back, .back a{
    grid-area: back;
    color: black;
    display: flex;
    justify-content: center;
    align-items: flex-end;

}
