#container{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 80% 20%;
    grid-template-areas:
         "menu main main"
         "menu back back";
}
 
nav{
    grid-area: menu;
}
main{
    grid-area: main;
}

.sub-title{
    width: 100%;
}

#wc-container{
    display: flex;
    justify-content: center;
    font-size: 1em;
}

button{
    font-size: .5em;
}

button:active{
    border-style: inset;
}