#container{
    display: grid;
    grid-template-columns: 15% auto 15% ;
    grid-template-rows: 90% auto;
    grid-template-areas:
         "menu main signs"
         "menu back signs";
}
 
nav{
    grid-area: menu;
}

#signs{
    grid-area: signs;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
main{
    grid-area: main;
}

.sub-title{
    width: 100%;
}

#wc-container{
    display: flex;
    justify-content: center;
    font-size: 1em;
}

button{
    font-size: .5em;
}

button:active{
    border-style: inset;
}