#container{
    display: grid;
    grid-template-columns: 15% auto;
    grid-template-rows: 80% 20%;
    grid-template-areas:
         "menu main"
         "menu back";
}
 
nav{
    grid-area: menu;
}

main{
    grid-area: main;
}

.sub-title{
    width: 100%;
}

#kitchen-container{
    margin: 0 4vw;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: repeat(3, auto);
    grid-template-areas: 
        "temp-label temp"
        "lights-label lights-btn"
        "cozinhar-label cozinhar-btn";
}

button{
    font-size: .5em;
}

button:active{
    border-style: inset;
}

#temperature,#lights-btn, #cozinhar-btn{
    width: 100%;
    text-align: end;
}

#temperature-label{
    grid-area: temp-label;
}

#temperature{
    grid-area: temp;
}

#lights-label{
    border-top: 1px solid white;
    grid-area: lights-label;
}

#lights-btn{
    border-top: 1px solid white;
    grid-area: lights-btn;
}

#cozinhar-label {
    border-top: 1px solid white;
    grid-area: cozinhar-label;
}

#cozinhar-btn {
    border-top: 1px solid white;
    grid-area: cozinhar-btn;
}

button{
    background-color: inherit;
    align-items: center;
    border: 3px solid black;
    border-radius: 10px;
    width: 6vw;
}

.grid-item{
    padding: 1.5vw 0;
}

